<html>
	<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Beerography</title>
	</head>

	<body>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle for mobile -->
				<div class="navbar=header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Beerography</a>
				</div>
				<!-- Nav content -->
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if user.user_name is defined %}
						<li><img class="img-responsive" src={{ user.user_avatar }} style="max-height:50px;padding-right:10px"></li>
						<li><a href="#">Hello, {{ user.first_name }}!</a></li>  
						<li id="navbar_geo"><a href="#">Location: Not Found</a></li>
						<li><a href="/logout">Logout</a></li>
						{% else %}
						<li>
						<a href="https://untappd.com/oauth/authenticate/?client_id={{ client_id }}&response_type=code&redirect_url=http://beerography-wdaniel.rhcloud.com/redirect">Log In To Untappd</a>
						</li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container span8">
		{% with messages = get_flashed_messages() %}
        		{% if messages %}
                	{% for message in messages %}
                        	<div class="alert alert-info">{{ message }}</div>
                	{% endfor %}
        		{% endif %}
		{% endwith %}

		{% block content %}
		{% endblock %}

			<!-- Footer -->
			<div class="row" style="background: black">
				<div class="col-xs-12 col-md-4"><img src="app/static/js/untappd_small_white.png" class="img-responsive center-block"></div>
				<div class="col-xs-12 col-md-4"><a href="#"><small>Copyright Wallace Daniel 2014 | Distributed under the MIT License</a></small></div>
				<div class="col-xs-12 col-md-4"><img src="app/static/js/openshift_white.png" class="img-responsive center-block"></div>
			</div> 
		</div>
	</body>
</html>
