{% extends 'base.html' %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
<!-- Google Maps code -->
<script>

var map;
var service;

function initialize() {
	var mapOptions = {
		zoom: 10
	};
	var location_div = document.getElementById('navbar_geo');

	geocoder = new google.maps.Geocoder();

	map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);

	// Try HTML5 geolocation
	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			var pos = new google.maps.LatLng(position.coords.latitude,
							position.coords.longitude);

			//debug
			console.log("Found coords: "+pos.toString());

			geocoder.geocode({'latLng': pos}, function(results, status) {
    				if (status == google.maps.GeocoderStatus.OK) {
					console.log("Geocoder returned OK, looking for results");
      					if (results[2]) {
						console.log("Found results, setting formatted address");
      						location_div.innerHTML="Location: "+results[2].formatted_address;
					} else {
						console.log("Results not found");
        					location_div.innerHTML="Location: Failed";
      					}
				}
			});

			// attempt a radar search for breweries around the detected area
			service = new google.maps.places.PlacesService(map);

			var request = {
			    location: pos,
			    keyword: 'brewery',
			    rankBy: google.maps.places.RankBy.DISTANCE
			  };

			// perform search
			service.nearbySearch(request, callback);
			

			var infowindow = new google.maps.InfoWindow({
				map: map,
				position: pos,
				content: "You're drinking here!"
			});

			map.setCenter(pos);
		}, function() {
			handleNoGeolocation(true);
		});
	} else {
		// browser doesn't support geolocation
		handleNoGeolocation(false);
	}
}
		
function callback(results, status) {
  if (status != google.maps.places.PlacesServiceStatus.OK) {
	    alert(status);
	    return;
	  }
	  for (var i = 0, 2; result = results[i]; i++) {
	    console.log("Found results..");
	    var marker = new google.maps.Marker({
	      map: map,
	      position: result.geometry.location,
	    });
	    console.log("Found the brewery called: "+result.name);
	    var curBreweryDivNum = 'closest_brewery_'+str(i+1);
	    var curBreweryDiv = document.getElementById(curBreweryDivNum);
	    curBreweryDiv.childNodes[1].innerHTML = result.name;
	  }
	}

function handleNoGeolocation(errorFlag) {
	if (errorFlag) {
		var content = 'Error: Geolocation service failed';
	} else {
		var content = 'Error: Your browser doesn\'t support geolocation.';
	}

	var options = {
		map: map,
		position: new google.maps.LatLng(60, 105),
		content: content
	};

	var infowindow = new google.maps.InfoWindow(options);
	map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<!-- Top row, page header -->
		<div class="row">
			<div class="page-header hidden-xs"><h1>Beerography <small>What are you drinking?</small></h1></div>
			<div class="page-header visible-xs"><h4>Beerography <small>What are you drinking?</small></h4></div>

		</div>
		<!-- Bottom row, search bar -->
		<div class="row">
			<form role="form" method="post">
			<div class="form-group col-xs-9 col-md-9">
				<input type="text" class="form-control" name="beer-search" id="beer-search" placeholder="Beer">
			</div>
			<button type="submit" class="btn btn-info center-block col-xs-3 col-md-3">Beer Me!</button>
		</div>
	</div>

	<!-- empty divder div -->
	<div class="col-md-1"></div>

	<div id="map-canvas" class="col-xs-12 col-md-3" style="height: 300px"></div>

</div>

<hr>

<div class="row">
	{% if beers is defined %}
	<div class="col-xs-12 col-md-6">
		{% if beers|length != 0 %}
			<div class="panel panel-default" style="max-height: 265px;overflow: auto">
				<div class="panel-heading">
					<h4>Search Results:   <small>{{ beers|length }} results found</small></h4>
				</div>
			
				<table class="table">
					<thead>
						<tr>
							<td>Name</td>
							<td>Brewery</td>
							<td>Style</td>
						</tr>
					</thead>
					<tbody>
						{% for item in beers %}
						<tr>
							<td>{{ item.beer.beer_name }}</td>
							<td>{{ item.brewery.brewery_name }}</td>
							<td>{{ item.beer.beer_style }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p>Try searching for something!</p>
		{% endif %}
	</div>

	{% endif %}

	<div class="col-xs-12 col-md-6" style="padding: 15px; padding-top: 0">
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			  Breweries Closest to You
			</a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <div class="panel-body">
			<div class="col-xs-6 col-md-4" id="close_brewery_1"><div class="well">Brewery 1</div><h5 class="text-center">Name</h5></div>		
			<div class="col-xs-6 col-md-4" id="close_brewery_2"><div class="well">Brewery 2</div><h5 class="text-center">Name</h5></div>
			<div class="hidden-xs hidden-sm col-md-4" id="close_brewery_3"><div class="well">Brewery 3</div><h5 class="text-center">Name</h5></div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			  Similar Local Beers
			</a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
			<div class="col-xs-6 col-md-4"><div class="well">Brewery 1</div><h5 class="text-center">Name</h5></div>		
			<div class="col-xs-6 col-md-4"><div class="well">Brewery 2</div><h5 class="text-center">Name</h5></div>
			<div class="hidden-xs hidden-sm col-md-4"><div class="well">Brewery 3</div><h5 class="text-center">Name</h5></div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			  Local Events
			</a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
			<div class="col-xs-6 col-md-4"><div class="well">Brewery 1</div><h5 class="text-center">Name</h5></div>		
			<div class="col-xs-6 col-md-4"><div class="well">Brewery 2</div><h5 class="text-center">Name</h5></div>
			<div class="hidden-xs hidden-sm col-md-4"><div class="well">Brewery 3</div><h5 class="text-center">Name</h5></div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
{% endblock %}
